(
    show_hint: false,
    show_menubar: false,
    categories: {
        "Web And JS": (
            types: [
                "Blank",
                "Web",
            ],
            dir: "/mnt/wwn-0x50014ee26a7ba406-part1/programming/Web and JS/",
        ),
        "Other": (
            types: [
                "Blank",
                "D",
                "Odin",
                "Zig",
            ],
            dir: "/mnt/wwn-0x50014ee26a7ba406-part1/programming/Other Projects/",
        ),
        "C": (
            types: [
                "C",
                "C++",
                "C3",
            ],
            dir: "/mnt/wwn-0x50014ee26a7ba406-part1/programming/C/",
        ),
        "Rust": (
            types: [
                "Rust",
            ],
            dir: "/mnt/wwn-0x50014ee26a7ba406-part1/programming/Rust/",
        ),
    },
)
