(
    show_hint: false,
    show_menubar: false,
    categories: {
        "Web And JS": (
            types: [
                "Blank",
                "Web",
            ],
            dir: "/home/chickencuber/drive/programming/Web and JS/",
        ),
        "Other": (
            types: [
                "Blank",
                "D",
                "Odin",
                "Zig",
            ],
            dir: "/home/chickencuber/drive/programming/Other Projects/",
        ),
        "C": (
            types: [
                "C",
                "C++",
                "C3",
            ],
            dir: "/home/chickencuber/drive/programming/C/",
        ),
        "Rust": (
            types: [
                "Rust",
                "RustWorkSpace",
            ],
            dir: "/home/chickencuber/drive/programming/Rust/",
        ),
    },
)
